.form-container {
	padding: 15px;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px;
	box-shadow: none;
	border-style: solid;
	margin:10px;
}
.gif-outer-wrapper {
	margin-bottom:40px;
}
.gif-wrapper {
	padding:20px;
	width:800px; 
	background-color:#f7f7f9;
	border:1px solid #e1e1e8; 
	border-radius:4px;
	margin-right:20px;
}